body {
    /* Font settings */
    font-family: 'Merienda', cursive;

    background-image: url(./Assets/da_nuie_basin_by_antonkurbatov_dca21j1.png);
    background-color: rgb(0, 68, 48);

    box-sizing: border-box;
}

.container {
    margin-top: 5%;
    padding: 5% 5% 5% 5%;
    background-color: #f5f5f5dd;
    height: 70vh;
    border-radius: 10px;

    transition: background-color .5s;
}

.container * {
    text-align: center;
    margin: 15px auto;
}

.title {
    text-decoration: underline;
    font-family: 'Eagle Lake', cursive;
    text-shadow: 0px 0px 15px #004444;
    color:#ffffffdd;
}

.gameOver {
    font-family: 'Audiowide', cursive;
    text-shadow: 0px 0px 15px #004444;
    color:#ffffffdd;
}

.splashQuote {
    width: 60%;
    font-style: italic;
}

.answerList {
    margin: 0px 30%;
    text-align: left;
    /* background-color: lightgrey; */
    padding: 0px 10px;
    border-radius: 10px;
    width: 100%;
}

.answer {
    border-radius: 5px;
    padding: 2px 2px;
    text-decoration: none;
    color: black;
    line-height: 200%;
    background-color: lightgrey;
    border: 1px solid black;
    width: 100%;
    transition: background-color 400ms, color 400ms;
}


.answer:hover {

    text-decoration: none;
    background-color: black;
    border: 1px solid chartreuse;
    color: chartreuse;
    border: 1px solid white;
    width: 100%;

}

.wrongAnswer {
    animation: wrongAnswer 1000ms;
}

footer {
    /* Position */
    position: fixed;
    bottom: 0;

    /* Layout */
    padding: 5px;
    width: 100%;
    height: 5vh;

    /* Appearance */
    background-color: #f5f5f5dd;
}

#timer {
    text-align: center;
    margin: 0px auto;
}

.hideMe {
    display: none;
}

.salmon {
    background-color: salmon;
}